.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 40px 40px;
  justify-items: center;
  margin: 150px 0 100px 0;
}

button {
  border: none;
  height: 100px;
  width: 100px;
  outline: none;
}

.svg-shadow {
  fill: $secondary-color;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}

button > svg:hover {
  fill: $secondary-color;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}
