.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 40px 40px;
  justify-items: center;
  margin: 150px 0 100px 0;
}

button {
  border: none;
  height: 100px;
  width: 100px;
  outline: none;
}

.svg-shadow {
  fill: $secondary-color;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}

button > svg:hover {
  fill: $secondary-color;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}

.apple {
  background: url(../images/apple.svg);
}

.banana {
  background: url(../images/banana.svg);
}

.pear {
  background: url(../images/pear.svg);
}

.pineapple {
  background: url(../images/pineapple.svg);
}

.cherry {
  background: url(../images/cherries.svg);
}

.strawberry {
  background: url(../images/strawberry.svg);
}

.watermelon {
  background: url(../images/watermelon.svg);
}

.grape {
  background: url(../images/grapes.svg);
}

.blueberry {
  background: url(../images/blueberry.svg);
}

.lemon {
  background: url(../images/lemon.svg);
}

.raspberry {
  background: url(../images/raspberry.svg);
}

.orange {
  background: url(../images/orange.svg);
}
