.item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  margin: 150px 0 0 0;

  &__left {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 30%;
    height: 300px;
  }
  &__right {
    width: 70%;
    margin-left: 20px;
  }
}
